<v-container fluid >
    <v-row class="w-100 mb-4">
        <Header/>
    </v-row>
    <v-form
            ref="form"
            v-model="validFormSearch"
            lazy-validation>
        <v-row class="d-flex justify-center mt-4">
            <v-col
                    cols="12"
                    md="4"
                    sm="4"
                    lg="2"
            >
                <v-text-field
                        v-model="search.name"
                        :label="$t('product.label.name')"
                        dense
                        outlined
                        hide-details
                        v-on:keyup.enter="searchProduct"
                ></v-text-field>
            </v-col>

            <v-col
                    cols="12"
                    md="4"
                    sm="4"
                    lg="2"
            >
                <v-select
                        :items="statusProducts"
                        v-model="search.isSale"
                        :label="$t('product.label.status')"
                        dense
                        outlined
                        hide-details
                ></v-select>
            </v-col>
            <v-col
                    cols="12"
                    md="4"
                    sm="4"
                    lg="1"
            >
                <v-text-field
                        v-model="search.minPrice"
                        :label="$t('product.label.price_from')"
                        type="number"
                        :rules="minPriceRules"
                        dense
                        outlined
                        prefix="$"
                        :hide-details="validFormSearch"
                        v-on:keyup.enter="searchProduct"
                        @keydown="nameKeydown($event)"
                ></v-text-field>
            </v-col>
            <v-col
                    cols="12"
                    md="4"
                    sm="4"
                    lg="1"
            >
                <v-text-field
                        v-model="search.maxPrice"
                        :label="$t('product.label.price_to')"
                        type="number"
                        :rules="maxPriceRules"
                        dense
                        outlined
                        prefix="$"
                        :hide-details="validFormSearch"
                        v-on:keyup.enter="searchProduct"
                        @keydown="nameKeydown($event)"
                ></v-text-field>
            </v-col>

            <v-col
                    md="4"
                    sm="2"
                    lg="1"
                    class="d-flex justify-center"
            >
                <v-btn
                        depressed
                        color="primary"
                        @click="searchProduct()"
                        :disabled="!validFormSearch"
                >
                    <v-icon left>
                        mdi-magnify
                    </v-icon>
                    {{$t('button_util.search')}}
                </v-btn>
            </v-col>

            <v-col
                    md="4"
                    sm="2"
                    lg="2"
                    class="d-flex justify-center justify-sm-start"
            >
                <v-btn
                        depressed
                        color="error"
                        @click="clearSearch()"
                >
                    <v-icon left>
                        mdi-magnify-minus
                    </v-icon>
                    {{$t('button_util.clear_search')}}
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
    <v-row class="mt-5">
        <v-col cols="12" lg="6">
            <v-btn
                    depressed
                    color="primary"
                    @click="showDialogAddProduct()"
            >
                <v-icon left>
                    mdi-account-plus
                </v-icon>
                {{ $t("product.btn.add") }}
            </v-btn>
        </v-col>
        <v-col cols="12" lg="6" class="mt-4">
            <div class="float-end">
                <span class="pl-4">{{$t("paginate.show_max")}}</span>
                <v-menu
                        rounded
                        offset-y
                >
                    <template v-slot:activator="{ attrs, on }">
                        <v-btn
                                color="primary"
                                class="black--text ml-3 elevation-0"
                                v-bind="attrs"
                                v-on="on"
                                small
                        >
                            {{ itemsPerPage }}
                        </v-btn>
                    </template>

                    <v-list>
                        <v-list-item
                                v-for="item in perPages"
                                :key="item"
                                link
                        >
                            <v-list-item-title v-text="item" @click="itemsPerPage = item"></v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
        </v-col>
        <v-col cols="12">
            <v-data-table
                    :headers="headers"
                    :items="products"
                    :page.sync="page"
                    :items-per-page="itemsPerPage"
                    hide-default-footer
                    class="elevation-1 "
                    @page-count="pageCount = $event"
                    :loading="loadingTable"
                    :loading-text="$t('customer.loading_text')"
            >

                <template v-slot:item.id="{ item , index }">
                    {{ productFrom + index}}
                </template>

                <template v-slot:item.product_price="{ item , index }">
                    {{ $n(item.product_price, 'currency', 'en-US') }}
                </template>

                <template v-slot:item.description="{ item , index }">
                    {{ item.description === 'null' ? '' : item.description}}
                </template>

                <template v-slot:item.is_sales="{ item }">
                      <span v-if="item.is_sales === 1 && item.inventory > 0" class="success--text">
                          {{$t("product.status.sale")}}
                      </span>
                    <span v-else-if="item.is_sales === 0 && item.inventory > 0" class="red--text">
                        {{$t("product.status.not_sale")}}
                    </span>
                    <span v-else class="warning:--text">
                        {{$t("product.status.sale_out")}}
                    </span>
                </template>

                <template v-slot:item.description="{ item , index }">
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                             <span
                                     class="d-block text-truncate"
                                     style="max-width: 150px;"
                                     v-bind="attrs"
                                     v-on="on"
                             >

                                    {{item.description}}
                                </span>
                        </template>
                            <span>{{item.description}}</span>
                    </v-tooltip>

                </template>
                <template v-slot:item.product_name="{ item , index }">
                    <span
                            class="d-inline-block text-truncate"
                            style="max-width: 100px;"
                    >
                      {{item.product_name}}
                    </span>
                </template>

                <template v-slot:item.act="{ item }">
                    <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                    icon
                                    color="primary"
                                    v-bind="attrs"
                                    v-on="on"
                                    @click="showDialogEditProduct(item)"
                            >
                                <v-icon>mdi-border-color</v-icon>
                            </v-btn>
                        </template>
                        <span>{{$t('customer.btn.edit')}}</span>
                    </v-tooltip>
                    <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                    icon
                                    color="error"
                                    v-bind="attrs"
                                    v-on="on"
                                    @click="showConfirmDeleteProduct(item)"
                            >
                                <v-icon>mdi-delete</v-icon>
                            </v-btn>
                        </template>
                        <span>{{$t('product.btn.delete')}}</span>
                    </v-tooltip>
                </template>
                <template v-slot:no-data>
                    <span class="text--secondary">{{$t('notification.no_data')}}</span>
                </template>
            </v-data-table>
            <div class="text-center pt-2" v-if="totalProduct > itemsPerPage">
                <span class="overline">{{$t('paginate.show_quantity', { from: productFrom, to: productTo, total: totalProduct, table: $t('product.text') }) }}</span>
                <v-pagination
                        v-model="page"
                        :length="pageLength"
                ></v-pagination>
            </div>
        </v-col>
    </v-row>
    <DialogEditAndAddProduct
        v-if="dialogEditProduct"
        :dialog="dialogEditProduct"
        :status-products="statusProducts"
        :product-selected="productSelected"
        type="edit"
        :title="$t('title.product_detail')"
        @close="dialogEditProduct = false"
        @loadData="funcSuccess"
    >
    </DialogEditAndAddProduct>
    <DialogEditAndAddProduct
            v-if="dialogAddProduct"
            :dialog="dialogAddProduct"
            :status-products="statusProducts"
            :product-selected="productSelected"
            type="add"
            :title="$t('title.add_product')"
            @close="dialogAddProduct = false"
            @loadData="funcSuccess"
    >
    </DialogEditAndAddProduct>
</v-container>
