<v-container fluid >
    <v-row class="w-100 mb-4">
        <Header/>
    </v-row>
    <v-form>
        <v-row class="d-flex justify-center mt-4">
            <v-col
                    cols="12"
                    md="4"
                    sm="4"
                    lg="2"
            >
                <v-text-field
                        v-model="search.name"
                        label="Tên"
                        hide-details
                        dense
                        outlined
                ></v-text-field>
            </v-col>

            <v-col
                    cols="12"
                    md="4"
                    sm="4"
                    lg="2"
            >
                <v-text-field
                        v-model="search.email"
                        label="Email"
                        hide-details
                        dense
                        outlined
                ></v-text-field>
            </v-col>

            <v-col
                    cols="12"
                    md="4"
                    sm="4"
                    lg="2"
            >
                <v-select
                        v-model="search.isActive"
                        :items="listStatus"
                        label="Trạng thái"
                        hide-details
                        dense
                        outlined
                ></v-select>
            </v-col>

            <v-col
                    cols="12"
                    md="4"
                    sm="4"
                    lg="2"
            >
                <v-text-field
                        v-model="search.address"
                        label="Địa chỉ"
                        hide-details
                        dense
                        outlined
                ></v-text-field>
            </v-col>

            <v-col
                    md="4"
                    sm="2"
                    lg="1"
                    class="d-flex justify-center align-center"
            >
                <v-btn
                        depressed
                        color="primary"
                        @click="searchCustomer()"
                >
                    <v-icon left>
                        mdi-magnify
                    </v-icon>
                    Tìm kiếm
                </v-btn>
            </v-col>

            <v-col
                    md="4"
                    sm="2"
                    lg="2"
                    class="d-flex justify-center justify-sm-start align-center"
            >
                <v-btn
                        depressed
                        color="error"
                        @click="clearSearch()"
                >
                    <v-icon left>
                        mdi-magnify-minus
                    </v-icon>
                    Xóa tìm kiếm
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
    <v-row>
        <v-col cols="12" lg="6" class="mt-md-5 mt-0" >
                <v-btn
                        depressed
                        color="primary"
                        @click="showDialogAddCustomer()"
                        class="ml-4 mt-md-0 mt-4"
                >
                    <v-icon left>
                        mdi-account-plus
                    </v-icon>
                    {{ $t("customer.btn.add") }}
                </v-btn>
                <v-btn
                        depressed
                        :color="!parsed ? 'success' : 'secondary'"
                        @click="handleFileImport()"
                        class="ml-4 mt-md-0 mt-4"
                        :loading="isSelecting"
                >
                    <v-icon left>
                        mdi-file-import
                    </v-icon>
                    {{!parsed ? $t("customer.btn.import_csv") : $t("customer.btn.clear_import_csv") }}

                    <input
                            ref="uploader"
                            class="d-none"
                            type="file"
                            accept=".csv"
                            @change="onFileChanged"
                    >
                </v-btn>
                <v-btn
                        depressed
                        :color="!parsed ? 'success' : 'error'"
                        class="ml-4 mt-md-0 mt-4"
                        @click="exportCustomer"
                        :loading="isLoading"
                        :disabled="isSelecting"
                >
                    <v-icon left>
                        mdi-file-export
                    </v-icon>
                    {{$t("customer.btn.export_csv")}}
                </v-btn>
        </v-col>
        <v-col cols="12" lg="6" class="mt-4">
            <div class="float-end">
                <span class="pl-4">{{$t("paginate.show_max")}}</span>
                <v-menu
                        rounded
                        offset-y
                >
                    <template v-slot:activator="{ attrs, on }">
                        <v-btn
                                color="primary"
                                class="black--textt ml-3 elevation-0"
                                v-bind="attrs"
                                v-on="on"
                                small
                        >
                            {{ itemsPerPage }}
                        </v-btn>
                    </template>

                    <v-list>
                        <v-list-item
                                v-for="item in perPages"
                                :key="item"
                                link
                        >
                            <v-list-item-title v-text="item" @click="itemsPerPage = item"></v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
        </v-col>
    </v-row>
    <v-row class="mt-5">
        <v-col cols="12">
            <v-data-table
                    :headers="headers"
                    :items="customers"
                    :page.sync="page"
                    :items-per-page="itemsPerPage"
                    hide-default-footer
                    class="elevation-1 "
                    @page-count="pageCount = $event"
                    :loading="loadingTable"
                    :loading-text="$t('customer.loading_text')"
            >
                <template v-slot:item.id="{ item , index }">
                    {{ customerFrom + index}}
                </template>
                <template v-slot:item.is_active="{ item }">
                      <span v-if="item.is_active" class="success--text">
                          {{$t("status.is_active")}}
                      </span>
                    <span v-else class="red--text">
                        {{$t("status.lock")}}
                    </span>
                </template>
                <template v-slot:item.act="{ item }" v-if="!parsed">
                    <v-tooltip top>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                    icon
                                    color="primary"
                                    v-bind="attrs"
                                    v-on="on"
                                    @click="showDialogEditCustomer(item)"
                            >
                                <v-icon>mdi-border-color</v-icon>
                            </v-btn>
                        </template>
                        <span>{{$t('customer.btn.edit')}}</span>
                    </v-tooltip>

                </template>
                <template v-slot:item.act="{ item }" v-else>
<!--                    <v-tooltip top v-if="item.status_row && !item.is_added">-->
<!--                        <template v-slot:activator="{ on, attrs }">-->
<!--                            <v-btn-->
<!--                                    icon-->
<!--                                    color="primary"-->
<!--                                    v-bind="attrs"-->
<!--                                    v-on="on"-->
<!--                                    @click="showDialogAddCustomer(item)"-->
<!--                            >-->
<!--                                <v-icon>mdi-account-plus</v-icon>-->
<!--                            </v-btn>-->
<!--                        </template>-->
<!--                        <span>{{$t("customer.btn.add")}}</span>-->
<!--                    </v-tooltip>-->
                    <v-tooltip top v-if="item.is_added && item.messages_fail.length === 0">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                    icon
                                    color="success"
                                    v-bind="attrs"
                                    v-on="on"
                            >
                                <v-icon>mdi-account-check</v-icon>
                            </v-btn>
                        </template>
                        <span>{{$t("customer.status.add_success")}}</span>
                    </v-tooltip>
                    <v-tooltip top v-else>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                icon
                                color="error"
                                v-bind="attrs"
                                v-on="on"
                            >
                                <v-icon>mdi-account-alert</v-icon>
                            </v-btn>
                        </template>
                        <span>{{item.messages_fail.join(', ')}}</span>
                    </v-tooltip>

                </template>
            </v-data-table>
            <div class="text-center pt-2" v-if="totalCustomer > itemsPerPage && customers.length > 0">
                <span class="overline">Hiển thị từ {{customerFrom}} ~ {{customerTo}} trong tổng số {{totalCustomer}} người dùng</span>
                <v-pagination
                        v-model="page"
                        :length="pageLength"
                ></v-pagination>
            </div>
        </v-col>
    </v-row>
    <DialogEditAndAddCustomer
            v-if="dialogAddCustomer"
            :dialog="dialogAddCustomer"
            :customerSelected="customerSelected"
            type="add"
            @close="dialogAddCustomer = false"
            @loadData="funcSuccess"
    ></DialogEditAndAddCustomer>
    <DialogEditAndAddCustomer
            v-if="dialogEditCustomer"
            :dialog="dialogEditCustomer"
            :customerSelected="customerSelected"
            type="edit"
            @close="dialogEditCustomer = false"
            @loadData="funcSuccess"
    ></DialogEditAndAddCustomer>
</v-container>
